@font-face {
    font-family: 'Custom';
    src: local("Vilane Regular"), url("./fonts/Vilane\ Regular.ttf");
}

@font-face { 
    
    font-family: 'Custom2';
    src: local("Vilane Medium") url("./fonts/Vilane\ Medium.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Custom';
}

.wrapper {
    height: 100vh;
    background: linear-gradient(10DEG, #143046, #446cb3);
    
}

.container {
    width: 100%;
    
}